<div class="row fixed-bottom player">
    <div class="album col-sm-1 text-sm-center">
        <img src="assets/img/test3.jpg" alt="img_music" class="img-music">
        <p style="margin: 0; padding: 0">Columbine</p>
        <p style="margin: 0; padding: 0">Rémi</p>
    </div>
    <div class="row col-sm-10">

        <div class="offset-sm-4 col-sm-4 player-btn">
            <i class="fa fa-random fa-2x onable" aria-hidden="true"></i>
            <i class="fa fa-backward fa-2x" aria-hidden="true"></i>
            <i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i>
            <i class="fa fa-forward fa-2x" aria-hidden="true"></i>
            <i class="fa fa-repeat fa-2x onable" aria-hidden="true"></i>
        </div>


    </div>
    <div class="col-sm-1 player-btn">
        <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>

    </div>
</div>

<script>$(".fa-play-circle-o").on("click", function () {
    var $this = $(this);
    if ($this.hasClass("fa-play-circle-o")) {
        $this.removeClass("fa-play-circle-o");
        $this.addClass("fa-pause-circle-o");
    } else {
        $this.removeClass("fa-pause-circle-o");
        $this.addClass("fa-play-circle-o");
    }
});
$(".onable").on("click", function () {
    var $this = $(this);
    if ($this.hasClass("on")) {
        $this.removeClass("on");
    } else {
        $this.addClass("on");
    }
});
</script>