<div class="row navbar-fixed-bottom">
    <div class="album col-sm-1 text-sm-center">
        <img src="https://images.genius.com/02243905a80d23ae0ea9d91ae65d50ae.1000x1000x1.jpg" alt="img_music" class="img-music">
        <p style="margin: 0; padding: 0">Columbine</p>
        <p style="margin: 0; padding: 0">Rémi</p>
    </div>
    <div class="player col-sm-10">
        <p>
            blablablablablablablablablablablablablablablablablablablablabla
            blablablablablablablablablablablablablablablablablabla
        </p>
    </div>
    <div class="option col-sm-1">
        <p>
            blablablablablablablablablablablablablablablabla
        </p>
    </div>
</div>