<div class="container-fluid">
    <div class="album col-sm-2">
        <p>
            blablablablablablablablablablablablablablablablablablabla
        </p>
    </div>
    <div class="player col-sm-7">
        <p>
            blablablablablablablablablablablablablablablablablablablablabla
            blablablablablablablablablablablablablablablablablablabla
            <br>blablablablablablablablablablablablablablablabla
        </p>
    </div>
    <div class="option col-sm-3">
        <p>
            blablablablablablablablablablablablablablablabla
        </p>
    </div>
</div>