<div class="page-footer fixed-bottom bg-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-uppercase">Djake.fr</h5>
        <p>
          Thème, design et code réalisé par <strong>Psyko460</strong>,<strong>Shiks67</strong>,<strong>Golvar</strong>. <br />
          Utilisation de <strong><a href="https://v4-alpha.getbootstrap.com" style="text-decoration:none;color:white;"> Bootstrap 4 </a></strong>. <br />
          Utilisation de <strong><a href="https://nodejs.org/en/" style="text-decoration:none;color:white;"> Node.js </a></strong>. <br />
        </p>
      </div>
    </div>
  </div>
  <div style="overflow: hidden;height: 50px;line-height: 50px;color: rgba(255, 255, 255, 0.8);background-color: rgba(0, 0, 0, 0.2);text-align: center;">
    <div class="container-fluid">
        © 2017 : <a href="/" style="text-decoration:none;color:white;"> Djake.fr </a>
    </div>
  </div>
</div>
