<!DOCTYPE html>
<html>
<head>
    <title>Djake | Dashboard</title>
    <script src="/jqs/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/hbs/handlebars.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{> navbar}}

<div class="container text-sm-center">
<h3 class="display-1">Bienvenue</h3>
<h3 class="display-5">sur</h3>
<h3 class="display-3">DJAKE</h3>
</div>

<div class="card-group offset-4 col-lg-4 text-sm-center">
<a href="#" class="thumbnail">
  <div class="card">
    <img class="rounded" src="assets/img/test1.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title" >Rock</h4>
    </div>
  </div>
  </a>
  <a href="#" class="thumbnail">
  <div class="card">
    <img class="rounded" src="assets/img/test3.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Reggae </h4>
    </div>
  </div>
  </a>
  <a href="#" class="thumbnail">
  <div class="card">
    <img class="rounded" src="assets/img/test3.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Electro</h4>
    </div>
  </div>
  </a>
  <a href="#" class="thumbnail">
  <div class="card">
    <img class="rounded" src="assets/img/test1.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Rap</h4>
    </div>
  </div>
  </a>
</div>


{{> player}}
</body>
</html>
