<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Djake | Informations</title>
	<script src="/jqs/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="bodyInformations">
{{> navbar}}
<div class="container text-sm-center">
  <h4 class="display-4">Informations</h4>
  <hr style="width:30%;background-color:white;" />
</div>
<div>
	<div class="jumbotron">
	  	<div class="container">
		    <h1 class="display-4">Qui sommes nous ?</h1>
		    <p class="lead"><b>Djake</b> est un environnement musical où il est possible de télécharger absolument toute les musiques disponnible en téléchargement.</p>
		    <p class="lead">Avec <b>Djake</b> vous pouvez écouter toutes les musiques que vous avez dans votre bibliothèque sans avoir besoin de connexion internet, ce qui est très utiles lors de vos déplacements partout dans le monde. </p>
		    <p class="lead"> Finis le système obsolète de l'abonnement mensuel pour pouvoir écouter librement votre musique, ici tout est gratuit ! Donc faites vous plaisirs et partagé vos gouts musicaux avec vos amis ! </p>
		</div>
	</div>
</div>
{{> siteFooter}}
</body>
</html>
