<!doctype html>
<html lang="fr">
<head>
  <title>Djake | Résultat recherche</title>
  <script src="/jqs/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/hbs/handlebars.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  {{> navbar}}
<h1>page searchresultat.hbs</h1>
<p>
  {{#each result}}
      {{name}}; <br />
  {{/each}}
</p>

{{> player}}
</body>
</html>
