<!doctype html>
<html lang="fr">
<head>
  <title>Djake | Résultat recherche</title>
  <script src="/jqs/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/hbs/handlebars.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{> navbar}}
<div class="container-fluid" style="padding-top: 1%;">
  <table class="table table-inverse table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Taille</th>
        <th>Fournisseur</th>
        <th><th>
      </tr>
    </thead>
    <tbody>
      {{#each result}}
          <tr>
            <td>{{title}}</td>
            <td>{{size}}</td>
            <td>{{provider}}</td>
            <td><a type="button" class="btn btn-success btn-sm" href="download/{{result}}">Téléchargement</a></td>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{> player}}
</body>
</html>
