<!DOCTYPE html>
<html>
<head>
    <title>Djake | Connexion</title>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/jqs/jquery.min.js"></script>
</head>
<body>
{{> siteNavbar}}



{{> siteFooter}}
</body>
</html>