<!DOCTYPE html>
<html>
<head>
    <title>Djake | Inscription</title>
    <script src="/jqs/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="bodySignup">
{{> navbar}}
<div class="container">
  <div class="container text-sm-center">
    <h4 class="display-4">Inscription</h4>
    <hr style="width:30%;background-color:white;" />
    <form id="signup" name="signup" method="post" action="/signup">
      <div>
        <input class="inputSignin" name="email" placeholder="Example@djake.fr" type="email" required />
      </div>
      <div>
          <input class="inputSignin" name="firstname" placeholder="Prénom" type="name" required />
      </div>
      <div>
          <input class="inputSignin" name="lastname" placeholder="Nom" type="name" required />
      </div>
      <div>
          <input class="inputSignin" name="password" placeholder="Mot de passe" type="password" id="password" required />
      </div>
      <button class="btn btn-outline-success" type="submit"><i class="fa fa-space-shuttle" aria-hidden="true"></i> Enter the void !</button>
    </form>
  </div>
</div>
{{> siteFooter}}

</body>
</html>
