<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/jqs/jquery.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
    <div class="offset-lg-3 col-lg-6 jumbotron ">
        <form id="signup" name="signup" method="post" action="/signup">
            <div>
                <label for="email">Adresse e-mail :</label>
                <input class="text" name="email" type="email" />
            </div>
            <div>
                <label for="firstname">Prénom :</label>
                <input name="firstname" type="text" />
            </div>
            <div>
                <label for="lastname">Nom :</label>
                <input name="lastname" type="text" />
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input name="password" type="password" />
            </div>
            <input class="btn" type="submit" value="S'inscrire" />
        </form>
    </div>
    </div>
</div>
</body>
</html>
